@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Oswald", sans-serif;
}

@keyframes appear {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.main {
  /* overflow: hidden; */
}

/* banner */

.bannerContainer {
  position: relative;
}

.bannerImg {
  height: 60vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.75) 70%,
      rgb(0, 0, 0) 100%
    ),
    url(../../Images/Rectangle12.png);
  background-size: cover;
  background-position: center center;
  animation-name: appear;
  animation-duration: 1s;
}

/* Car Spec */

.carSpecWrapper {
  justify-content: center;
  margin-bottom: 4rem;
  margin: 2rem 0;
}

.specTitle {
  justify-content: center;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.specRowHeading {
  font-size: 1.8rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: bold;
}

.specRow {
  border-bottom: 1px solid #000;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.specRowTitle {
  animation-name: appearLeft;
  animation-duration: 1s;
}

.specRowText {
  font-style: italic;
  animation-name: appearRight;
  animation-duration: 1s;
}

.specRowPrice {
  font-size: 1.6rem;
  font-weight: bold;
}

.specRowPrice .specRowText {
  color: yellow;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.specRowText:hover {
  color: yellow;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.specRowPolicy {
  text-align: justify;
  font-size: 0.8rem;
}

.buttonWrapper {
  align-items: center;
}

.buttonWrapper .button {
  display: flex;
  justify-content: center;
}

.buttonWrapper .bookButton {
  height: 3rem;
  font-size: 1.4rem;
  width: 60%;
  background-color: rgba(255, 255, 0, 0.9);
  border: 1px solid #000;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem 0;
}

.buttonWrapper .bookButton:hover {
  border-color: rgba(255, 255, 0, 0.9);
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 0, 0.9);
}

.buttonWrapper .compareButton {
  height: 3rem;
  font-size: 1.4rem;
  width: 60%;
  background-color: #ccc;
  border: 1px solid #000;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem 0;
}

.buttonWrapper .compareButton:hover {
  background-color: #eee;
}

.select {
  justify-content: space-evenly;
}

.colorContainer {
  display: flex;
  flex-direction: row;
}

.color {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px black solid;
  margin-right: 0.5rem;
}