@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Oswald", sans-serif;
}

@keyframes appear {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  overflow: hidden;
}

.headingWrapper {
  min-height: 50vh;
  /* background-color: #000; */
  background: linear-gradient(
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.6) 70%,
      rgb(0, 0, 0) 100%
    ),
    url(../../Images/josh-berquist.jpg);
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.headingTitle {
  color: yellow;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  animation-name: appear;
  animation-duration: 2s;
  text-align: center;
}

.headingDesc {
  color: yellow;
  font-weight: bold;
  font-size: 1.2rem;
  animation-name: appearLeft;
  animation-duration: 2s;
  text-align: center;
}

/* contactWrapper */
.contactWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* question section */

.questionsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem 0;
  animation-name: appearLeft;
  animation-duration: 2s;
}

.questionsRow {
  margin: 1rem 0;
}

.questionsRow .question {
}

.questionsRow .questionDetail {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

.questionDetail .answer {
  width: 100%;
  color: #000;
  text-transform: none;
  font-size: 0.9rem;
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* word-wrap: break-word; */
  white-space: normal;
  height: 8rem;
}

.questionDetail .answerRow {
  display: block;
  cursor: default;
  min-height: 8rem;
  /* pointer-events: none; */
}

.answerRow .ansLink {
  /* pointer-events: none; */
  color: var(--yellow-color);
}

.answerRow .ansLink:hover {
  /* pointer-events: visibleStroke; */
  color: var(--red-color);
}

.questionDetail ul {
  background-color: #fafafa;
  color: #000;
}

/* contact form */

.contactFormWrapper {
  margin: 1.5rem 0;
  animation-name: appearRight;
  animation-duration: 2s;
}
.contactHeading {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem;
}

.contactFormWrapper .contactForm {
}

/* midBanner */

.midBanner {
  display: flex;
  justify-content: center;
  animation-name: appearBottom;
  animation-duration: 2s;
}

.banner {
  height: 15vh;
  background: url(../../Images/campbell.jpg);
  background-size: cover;
  background-position: center center;
}

/* .contactInfoWrapper */
.contactInfoWrapper {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation-name: appearBottom;
  animation-duration: 2s;
}

.contactInfo {
  font-size: 1rem;
}

.infoTitle {
  justify-content: center;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 1rem 0;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}
