@keyframes appear {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  margin: 40px;
}
.headingContainer {
}

.headings {
  /* display: grid;
  grid-template-columns: 20% 80%; */
}

.heading {
  text-shadow: 2px 2px 5px rgb(157, 197, 1);
  color: rgba(0, 0, 0, 0.9);
}

.searchGroup {
  padding: 0;
  border-radius: 12px;
  box-shadow: 6px 6px 4px 0px #ddd;
  margin: 1.5rem 0;
}

#bootstrap-overrides .input-group {
  width: auto;
}

.searchTitle {
  border-radius: 12px 0px 0px 12px;
}
.searchBox {
  border-radius: 0px 12px 12px 0px;
}

.headingNumber {
  font-size: 1.2rem;
}

.main {
  display: flex;
  /* justify-content: space-between; */
}

.filterContainer {
  margin: 0 0;
}

.rangeInput {
  margin: 12px 0;
}

.cardContainer {
  /* flex cua main */
  flex: 1;
  /* 
  display: grid;
  grid-template-columns: 50% 50%; */
  grid-gap: 16px;
  position: inherit;
  /* border-left: 1px solid #000;  */
  /* margin: 1rem; */
}

/* .cardContainer::after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: #000;
} */

.cardRow {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.card {
  color: #ff4200;
  height: 300px;
  display: border-box;
  background: fff;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  transition: all 0.4s cubic-bezier(1, 0.4, 0.4, 1);
  border: 1px solid #ccc;
  animation-name: appearBottom;
  animation-duration: 1s;
}

.card:hover {
  box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  transition: linear 0.1s;
}
.card > .setting {
  font-size: 0.75em;
  color: #f6f6f6;
  position: absolute;
  right: 15px;
  top: 15px;
}
.card > .setting > .fa:first-child {
  margin-bottom: 15px;
}
.card > .setting > .fa:hover {
  opacity: 1;
}
.card > .setting > .fa {
  display: block;
  cursor: pointer;
  opacity: 0.85;
  transition: all 0.2s ease-in-out;
}
.card > .setting > .fa.active {
  color: red;
  opacity: 1;
}
.card > .image {
  width: 100%;
  height: 80%;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 50%,
    rgba(252, 252, 252, 0) 70%,
    rgba(246, 246, 246, 1) 100%
  );
  /* url(../../Images/Rectangle12.png); */
  background-size: cover;
  background-position: center center;
}
.card .description {
  display: flex;
  padding: 0 3%;
}
.card .description h4,
.description h5 {
  margin: 0;
  padding: 0;
}

.card .description .nameGroup {
  width: 50%;
}
.card .description > div {
  display: inline-block;
  width: 25%;
  margin: 0 3%;
}
.card .description .sub {
  color: #000;
  font-size: 1rem;
}
.sub {
}

.text {
  font-size: 1.2rem;
  color: yellow;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.card .description h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .long-description {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  margin-top: 0em;
  padding: 0 6%;
}
.card.expand {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
.card.expand > .setting {
  font-size: 1.3em;
}
.card.expand .long-description {
  margin-top: 2em;
  opacity: 1;
}

/* .pagination */
.pagination {
  text-align: center;
}
