@import url("../../style/_variables.css");
/* .news {
    margin: 0 200px 0 200px;
}

.news_title_wrapper {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: pink;
    z-index: 1;
}
 
.news_wrapper {}

.news_image {
    width: 400px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.news_title {
    font-size: 40px;
    font-weight: bold;
    line-height: 46px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news_date {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8px;
}

.ant-list-item-meta {
    align-items: initial;
}

.ant-list-item-meta-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news_header {
    font-size: 35px;
    font-weight: bold;
}

.news_name {
    line-height: 0.9;
    padding: 0;
    font-size: 100px;
    font-weight: bold;
    MARGIN-TOP: 0px;
}

.news {
    margin-left: 50px;
}

.news_content {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 67px;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

a {
    color: black;
}

.btn_outline_dark {
    position: relative;
    color: black;
    border: 1px solid #000;
    padding: 3px 30px;
    bottom: 0;
}

.btn_title {}

.news_items {
    position: relative;
    top: 0;
    bottom: 0;
} */

/* news */
.newsBtn:hover {
  color: var(--yellow-color);
}
.newsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  display: flex;
  flex-direction: row;
}

.listItem .avatar {
  height: 60%;
}

.content {
  /* height: 40vh; */
  justify-content: space-around;
}

.news-image {
  width: 100%;
  height: 40vh;
  /* object-fit: cover;
  object-position: 50% 50%; */
}

.news-title {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 46px;
}

.news-description {
  font-size: 20px;
  font-weight: 300;
}
.news_content {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 67px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-header {
  font-size: 3rem;
}

.news-name {
  font-size: 4rem;
  font-weight: bold;
}

.news {
  margin-left: 4vw;
  margin-right: 2vw;
  flex-direction: column;
}

.newsBtn {
  margin: 1rem 0;
}

.pagination {
  margin: 1rem 0;
}

/*  */

@media (max-width: 1199px) {
  .news_image {
    width: 20rem;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .news_title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
  }

  .news_content {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 67px;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
