@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("../../style/_variables.css");

* {
  font-family: "Oswald", sans-serif;
}

.imgWrapper {
  height: 25vh;
  background: url(../../Images/spencer-davis.jpg);
  background-size: cover;
  background-position: center center;
}

.heading {
  text-align: center;
  font-size: 2.4rem;
  color: var(--black-color);
}

.main {
  margin: 1.5rem;
}

.caculationWrapper {
  margin: 1rem 0;
}

.mainColumn {
  border-bottom: 1px solid var(--border-gray-color);
}

.column {
  padding: 0.5rem;
  margin: 0;
  font-size: var(--font-title);
  color: var(--gray-color);
  font-weight: normal;
}

/* product */

.product {
  padding: 1rem;
  border-bottom: 1px solid var(--gray-color);
}

.productImgWrapper {
  border: 1px solid var(--orange-color);
}

/* .product .productImg {
  padding: 0.5rem;
  src: "../../Images/Rectangle12.png";
  background-size: cover;
  background-position: center center;
} */

.product .productImg {
  height: 10rem;
  padding: 0.5rem;
  /* background: url(../../Images/Rectangle12.png); */
  background-size: cover;
  background-position: center center;
}

.product .productDetail .productName {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--black-color);
  padding: 0.5rem;
}

.product .productDetail .productDesc {
  font-weight: italic;
  padding: 0.5rem;
}

.product .productQty {
  text-align: center;
}

.product .productQty .inputNumber {
  font-weight: bold;
  height: 2.2rem;
  align-items: center;
  width: 60%;
  margin: 1rem 0;
  border: 2px solid var(--black-color);
  border-radius: 4px;
}

.product .productQty .removeButton {
  width: 60%;
  background-color: var(--yellow-color);
  border: 1px solid var(--black-color);
  color: var(--black-color);
}

.product .productQty .removeButton:hover {
  background-color: var(--orange-color);
}

.product .productPrice {
  /* text-align: center; */
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--black-color);
  /* text-shadow: 2px 0 0 rgba(255, 255, 0, 0.9), -2px 0 0 rgba(255, 255, 0, 0.9),
    0 2px 0 rgba(255, 255, 0, 0.9), 0 -2px 0 rgba(255, 255, 0, 0.9),
    1px 1px rgba(255, 255, 0, 0.9), -1px -1px 0 rgba(255, 255, 0, 0.9),
    1px -1px 0 rgba(255, 255, 0, 0.9), -1px 1px 0 rgba(255, 255, 0, 0.9); */
}

/* cart summary */
.cartSummaryWrapper {
}

.cartSummary {
  padding: 0.5rem;
  border-left: 1px solid var(--border-gray-color);
  /* border: 1px solid var(--black-color);
  box-shadow: 0px 16px 15px var(--black-color); */
}

.cartSummary div {
  margin: 0.3rem 0;
}

.summaryTitle {
  font-size: var(--font-title);
  font-weight: bold;
  color: var(--gray-color);
  margin-bottom: 10px;
}

.shippingPolicy {
  background-color: var(--beige-color);
}

.shippingMessage {
  font-style: normal;
}

.shippingPolicy,
.totalAllProduct {
  font-size: var(--font-document);
  color: var(--gray-color);
  margin: 10px 0px;
}

.subTitle {
  font-style: italic;
}

.totalDue .subTitle {
  font-style: normal;
  color: var(--gray-color);
}

.number {
  font-weight: bold;
  text-align: right;
}

.sumTitle {
  margin-top: 10px;
}

.totalDue .number,
.totalDue .sumTitle {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-title);
  color: var(--black-color);
}

.totalDue {
  margin: 20px 0px;
}

.checkout {
  justify-content: center;
}

.checkout .checkoutButton {
  border-radius: 7px;
  height: 40px;
  font-size: var(--font-document);
  border: 1px solid var(--yellow-color);
  background-color: var(--yellow-color);
  font-size: var(--font-document);
  color: var(--black-color);
  font-weight: bold;
}

.checkout .checkoutButton:hover {
  color: var(--beige-color);
  background-color: var(--orange-color);
}

.couponCode {
  justify-content: center;
}

.couponCode .inputCoupon {
  width: 100%;
}

/* .couponCodeTitle {
  font-style: italic;
  height: 8vh;
  font-size: 1rem;
} */

/* end  Main */
.endMain {
  font-size: var(--font-document);
  font-weight: normal;
  margin: 2rem 0;
  color: var(--gray-color);
}

.addToWishList {
  display: flex;
  align-items: center;
}

.continue {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.addToWishList:hover,
.continue:hover {
  color: var(--black-color);
}

/* responsive */

@media (max-width: 992px) {
  .product .productQty {
    text-align: justify;
  }

  .product .productPrice {
    text-align: right;
  }

  .number {
    font-weight: bold;
  }
}
