
.Banner{
    background-image: url(../../Images/Showroom1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
}

h1 {
    font-size: 7rem;
    color: #fff;
}

h2 {
    font-size: 3rem;
    color: #fff;
}

/* .h2-top{
    padding-top: 10%;
} */

/* .h2-bot{
    padding-bottom: 10%;
} */