
.Banner{
    background-image: url(../../Images/Showroom1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    
}
.title{
    font-weight: 700;
    text-shadow: 0.3rem 0.4rem rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 7rem;
    color: #fff;
    margin: 0;
    line-height: 6rem;
    margin-top: 2rem;

}

h2 {
    font-size: 4rem;
    color: #fff;
    margin: 0;
}

/* .h2-top{
    padding-top: 10%;
} */

/* .h2-bot{
    padding-bottom: 10%;
} */