@import url("../../../style/_variables.css");

.background {
  position: relative;
  /* top: 5rem; */
  background-color: rgba(255, 255, 255, 0.75);
  /* background-image: linear-gradient(var(--black-color), var(--yellow-color)); */
  /* background: rgb(121,29,9); */
  /* background: linear-gradient(153deg, rgba(121, 29, 9, 1) 35%, rgba(255, 0, 0, 0.0651610986191351) 79%); */
  /* border-radius: 1rem; */
  min-height: 39rem;
  margin: auto;
}

.loginForm {
  justify-content: center;
}

.eyeIcon:hover {
  cursor: pointer;  
}
.background .titleLogin {
  margin: 4rem 0rem 2rem 0rem;
  text-align: center;
  font-size: var(--font-xl-h1);
  font-weight: bold;
  opacity: initial;
}

.loading {
  justify-content: center;
}

.background .loginForm .submit {
  margin-top: 2rem;
}

.formGroup .loginButton {
  background-color: var(--yellow-color);
  color: var(--black-color);
  border-radius: 0.5rem;
  border: var(--yellow-color);
  display: block;
  /* margin: auto; */
  padding: 0.5rem 2rem;
  font-size: var(--font-title);
  width: 100%;
}

.formGroup .loginButton:hover {
  background-color: var(--black-color);
  color: var(--yellow-color);
  border: var(--black-color);
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup .loginLabel {
  font-size: var(--font-title);
  padding-left: 0.4rem;
}

.formGroup .titleSignup {
  font-size: var(--font-document);
  color: var(--gray-color);
}

.background .loginForm .singup {
  display: contents;
}

.formGroup .mailError,
.formGroup .passwordError {
  color: var(--red-color);
}

.signup {
  color: #1890ff;
}

.signup:hover {
  text-decoration: underline;
}