@import url("../../style/_variables.css");

.mainLayout {
  min-height: none;
}

.avatar {
  width: 50%;
  height: 50%;
  text-align: center;
  clip-path: circle(4rem at 50% 50%);
  margin-top: 1rem;
}

.sideMenu {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  /* position: relative; */
  /* box-shadow: 3px 3px var(--gray-light-color); */
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.avatarName {
  font-size: 1.8rem;
  text-align: center;
}

.sideNav {
  text-align: center;
  font-size: 1.2rem;
  border: none;
  margin: 1rem 0;
}

.content {
  text-align: center;
}

.content .descriptions {
  text-align: center;
  font-size: var(--font-document);
}

.content .imformationUser {
  padding-left: 2rem;
}

.descriptions > div > div > div {
  font-size: 20px;
  font-weight: bold;
  flex: none;
}

.descriptions > div > div {
  margin-bottom: 0;
}
.descriptions > div {
  margin-top: 20px;
}
