@keyframes appearBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@import url("../../style/_variables.css");

.container {
  margin: 40px;
}

.heading {
  font-size: var(--font-h1);
  color: var(--black-color);
  margin-bottom: 2rem;
  text-align: center;
}

.searchGroup {
  padding: 0;
  border-radius: 5px;
  margin: 1rem 0;
  width: 50rem;
}

#bootstrap-overrides .input-group {
  width: auto;
}

.searchTitle {
  border-radius: 12px 0px 0px 12px;
}

.searchBox {
  border-radius: 0px 12px 12px 0px;
}

.headingNumber {
  margin-top: 30px;
  font-size: var(--font-document);
  color: var(--gray-color);
  font-weight: initial;
}

.main {
  display: flex;
  /* justify-content: space-between; */
}

.filterContainer {
  margin: 0 0;
}

.subMenuCss {
  color: var(--gray-color);
  font-size: var(--font-document);
}

/*   */

.filterContainer .filter {
  padding: 0.5rem;
  border: 1px solid var(--border-gray-color);
  /* box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 10%); */
}

.rangeInput {
  margin: 12px 0;
  color: var(--gray-color);
  font-size: var(--font-document);
}

.cardContainer {
  /* flex cua main */
  flex: 1;
  /* 
  display: grid;
  grid-template-columns: 50% 50%; */
  grid-gap: 16px;
  position: inherit;
  /* border-left: 1px solid #000;  */
  /* margin: 1rem; */
}

.card {
  margin: 12px;
  height: 300px;
  display: border-box;
  /* position: absolute; */
  background: fff;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  margin: 0;
  margin-bottom: 2rem;
  transition: all 0.4s cubic-bezier(1, 0.4, 0.4, 1);
  animation-name: appearBottom;
  animation-duration: 0.5s;
}

.cardContainer .card {
  height: 24em;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.card:hover {
  box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 10%);
  transform: translateY(-4px);
  transition: linear 0.1s;
  z-index: 10;
}

.card>.image {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 50%,
      rgba(252, 252, 252, 0) 70%,
      rgba(246, 246, 246, 1) 100%);
  /* url(../../Images/andre-tan-79.jpg); */
  background-size: cover;
  background-position: center center;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.heartIcon {
  width: inherit;
  font-size: 2rem;
  color: #ccc;
}

.heartIconClicked {
  color: var(--orange-color);
}

.pagination {
  text-align: center;
}