@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Oswald", sans-serif;
}

@keyframes appear {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  overflow: hidden;
  background-color: #fafafa;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.formCol {
  border: 1px solid #000;
  padding: 2rem;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.carImg {
  height: 10rem;
  padding: 0.5rem;
  background: url(../../Images/Rectangle12.png);
  background-size: cover;
  background-position: center center;
  animation-name: appearLeft;
  animation-duration: 1s;
}

.carSpec {
  font-size: 1.2rem;
  animation-name: appearRight;
  animation-duration: 1s;
}

.specText {
  display: flex;
  justify-content: center;
  text-align: center;

}

.carSpec .name {
  font-size: 1.5rem;
  color: yellow;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-size: 2rem;
}

.deposit {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  justify-content: center;
  margin: 2rem 0;
  animation-name: appearBottom;
  animation-duration: 1s;
}

.de {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: yellow;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.orderInfo {
  animation-name: appearBottom;
  animation-duration: 2s;
}

.colorbox {
  border: 1px solid #cccccc;
  width: 1.2rem;
  height: 1.2rem;
}

.bookButton {
  height: 3rem;
  font-size: var(--font-title);
  width: 60%;
  background-color: var(--yellow-color);
  border: 1px solid var(--border-gray-color);
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem 0;
}

.bookButton:hover {
  color: var(--yellow-color);
  background-color: var(--black-color);
}

.bookButton:focus {
  background-color: var(--yellow-color);
  color: var(--black-color);
  outline: none;
  box-shadow: none;
}

.bookButton:active {
  background-color: var(--yellow-color);
  color: var(--black-color);
  outline: none;
  box-shadow: none;
}

.confirmButton {
  background-color: var(--yellow-color);
  border: 1px solid var(--border-gray-color);
  color: var(--black-color);
}

.confirmButton:hover {
  color: var(--yellow-color);
  background-color: var(--black-color);
}
.confirmButton:focus {
  color: var(--yellow-color);
  background-color: var(--black-color);
}
.confirmButton:active {
  color: var(--yellow-color);
  background-color: var(--black-color);
}

.cancelButton:hover {
  color: var(--yellow-color);
  background-color: var(--black-color);
}
.cancelButton:focus {
  color: var(--yellow-color);
  background-color: var(--black-color);
}
.cancelButton:active {
  color: var(--yellow-color);
  background-color: var(--black-color);
}


.color-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.car-color {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  border: 1px  var(--black-color) solid;
}
