@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Oswald", sans-serif;
}

@keyframes appear {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  overflow: hidden;
}

/* heading */

.headingWrapper {
  min-height: 50vh;
  /* background-color: #000; */
  background: linear-gradient(
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.6) 70%,
      rgb(0, 0, 0) 100%
    ),
    url(../../Images/campbell.jpg);
  background-size: cover;
  background-position: center center;
}

.headingWrapper .headingText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingWrapper .headingText .heading {
  color: yellow;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  animation-name: appearLeft;
  animation-duration: 2s;
}

.headingWrapper .headingImg {
  position: relative;
}

.headingWrapper .headingImg .img {
  position: absolute;
  z-index: 10;
  bottom: -20%;
  height: 100%;
  min-height: 20vh;
  background: url(../../Images/thomas-haas.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  animation-name: appearRight;
  animation-duration: 2s;
}

/* story */

.storyWrapper {
  min-height: 50vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storyWrapper .storyText {
  margin: 20vh 0;
  font-size: 1.2rem;
  text-align: justify;
  animation-name: appear;
  animation-duration: 2s;
}

/* activity */
.activityWrapper {
  background-color: var(--beige-color);
}

.activityHeading {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: var(--black-color);
  /* text-shadow: 2px 0 0 yellow, -2px 0 0 yellow, 0 2px 0 yellow, 0 -2px 0 yellow,
    1px 1px yellow, -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow; */
  text-align: center;
  margin: 1rem;
}

.activityImg {
  display: flex;
  justify-content: space-around;
  animation-name: appearBottom;
  animation-duration: 1s;
}
.activityImg .Img1 {
  background: url(../../Images/Showroom1.png);
  background-size: cover;
  background-position: center center;
  height: 30vh;
  margin: 1rem;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.activityImg .Img2 {
  background: url(../../Images/Showroom2.png);
  background-size: cover;
  background-position: center center;
  height: 30vh;
  margin: 1rem;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.activityImg .Img3 {
  background: url(../../Images/Showroom3.png);
  background-size: cover;
  background-position: center center;
  height: 30vh;
  margin: 1rem;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.activityDetail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activityText {
  margin: 1.5rem;
  font-size: 1.2rem;
  text-align: justify;
}

/* video */

.videoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.video {
  height: 70vh;
}

/* evolution */

.evolutionRow {
  background-color: var(--beige-color);
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: justify;
}

.currentText {
  margin: 1rem 0;
}

.futureText {
  margin: 1rem 0;
}

@media (max-width: 576px) {
  .headingWrapper .headingText .heading {
    font-size: 2rem;
    text-align: justify;
  }

  .activityImg {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
}
