:root {
    --yellow-color: rgb(240, 165, 0);
    --black-color: rgb(27, 26, 23);
    --orange-color: rgb(228, 88, 38);
    --beige-color: rgb(230, 213, 184);
    --white-color: #fff;
    --gray-color: #444;
    --border-gray-color: #D8D8D8;
    --black-background-color: rgb(56, 56, 56);
    --font-title: 1.25rem;
    --font-document: 1rem;
    --font-note: 1.43rem;
    --font-h1: 2rem;
    --font-h2: 1.6rem;
    --font-xl-h1: 3.75rem;
    --font-xl-h2: 2.4rem;
}