:root {
  --yellow-color: rgb(240, 165, 0);
  --black-color: rgb(27, 26, 23);
  --orange-color: rgb(228, 88, 38);
  --beige-color: rgb(230, 213, 184);
  --white-color: #fff;
  --white-background-color: rgb(255, 255, 255, 50%);
  --gray-color: #444;
  --red-color: red;
  --green-color: green;
  --border-gray-color: #d8d8d8;
  --black-background-color: rgb(56, 56, 56);
  --caption-background: rgb(0, 0, 0, 50%);
  --gray-light-color: #d3d3d3;
  --font-title: 1.25rem;
  --font-document: 1rem;
  --font-note: 0.875rem;
  --font-h1: 2rem;
  --font-h2: 1.6rem;
  --font-xl-h1: 3.75rem;
  --font-xl-h2: 2.4rem;
  --font-logo: 15rem;
}
