.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}


.activeNav {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ffffff;
}

.header .colorText {
  color: var(--yellow-color);
}
