.container {
  background-color: rgba(255, 255, 255, 0.603);
  /* padding: 50px; */
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.form {
  max-width: 500px;
  /* margin: auto; */
}

.form input {
  padding: 10px;
  font-size: 18px;
}

.container h2 {
  text-align: center;
}

.signup-button {
  display: block;
  margin: auto;
  margin-top: 40px;
  font-size: 20px !important;
  min-width: 12rem;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
