@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Oswald", sans-serif;
}

.imgWrapper {
  height: 25vh;
  background: url(../../Images/Rectangle12.png);
  background-size: cover;
  background-position: center center;
}

.heading {
  text-align: center;
  font-size: var(--font-h1);
  color: var(--black-color);
  /* text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; */
}

.main {
  margin: 5vh 10vw;
}

.main .listHeading {
  font-size: var(--font-h2);
  margin: 1rem 0;
}

/* product */

.product {
  padding: 1rem;
  border-bottom: 1px solid var(--border-gray-color);
}

.productImgWrapper {
  border: 1px solid var(--orange-color);
}

.product .productImg {
  height: 10rem;
  padding: 0.5rem;
  background-size: cover;
  background-position: center center;
}

.product .productDetail .productName {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--black-color);
  padding: 0.5rem;
}

.productDetail .heartIcon {
  width: inherit;
  font-size: 1.2rem;
  color: var(--orange-color);
}

.product .productDetail .productDesc {
  font-weight: italic;
  font-size: var(--font-document);
  padding-left: 2rem;
}

.product .productPrice {
  font-weight: bold;
  font-size: var(--font-title);
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product .productButton .addButton,
.product .productButton .removeButton,
.product .productButton .bookButton {
  height: 2.5rem;
  font-size: var(--font-document);
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem 0;
}

.product .productButton .bookButton,
.product .productButton .addButton {
  background-color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  color: var(--black-color);
}

.product .productButton .addButton:hover,
.product .productButton .bookButton:hover {
  background-color: var(--black-color);
  border: var(--black-color);
  color: var(--yellow-color);
}

.product .productButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.product .productButton .removeButton:hover {
  background-color: var(--gray-color);
  color: var(--white-color);
  border: var(--gray-color);
}