.introduce {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  margin-bottom: 3rem;
}

.s {
  /* position: relative;/ */
  display: inline-block;
  width: 157px;
  height: 200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: var(--font-logo);
  line-height: var(--font-logo);
  color: var(--yellow-color);
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.caption .backgroundCaption {
  background-color: var(--caption-background);
  margin-bottom: 6rem;
  padding: 1rem 0rem;
}

.carousel .btn {
  color: var(--white-color);
  border: var(--white-background-color);
  opacity: 40%;
}

.introduce .header {
  color: var(--yellow-color);
  font-size: 4rem;
  margin-bottom: 2rem;
}

.introduce .introduce-content {
  font-size: 3rem;
  line-height: 60px;
}

.accessories {
  min-height: 70vh;
  margin: 1rem 0;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
}
.accessories .accessoriesCute1 {
  background-image: url("../../Images/seven/accessory/tẩu1.jpg");
  background-size: cover;
  position: relative;
  margin: 1rem 0;
  min-height: 50vh;
}
.accessories .accessoriesCute2 {
  background-image: url("../../Images/seven/accessory/boc\ 2.jpg");
  background-size: cover;
  position: relative;
  margin: 1rem 0;
  min-height: 50vh;
}
.accessories .accessoriesCute3 {
  background-image: url("../../Images/seven/accessory/giá\ 1.jpg");
  background-size: cover;
  position: relative;
  margin: 1rem 0;
  min-height: 50vh;
}
.accessories .accessoryItem {
  justify-content: center;
}

.accDesc {
  padding: 2rem 0;
  background-color: var(--caption-background);
  position: absolute;
  left: 10%;
  top: 30%;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descTitle {
  color: var(--white-color);
}

.descAtt {
  color: var(--white-color);
}

.accessories-header {
  padding-left: 32px;
  padding-top: 1rem;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.accessories-content {
  padding-left: 32px;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.accessories .accessories-btn {
  /* margin-left: 6vw;
  margin-top: 3rem; */
  background-color: var(--white-background-color);
  border-color: var(--white-background-color);
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.accessories .accessories-btn a {
  display: inline-block;
  border-radius: 5px;
}

.accessories .accessories-btn:focus {
  box-shadow: none !important;
}

.accessories .accessories-btn:hover {
  background-color: var(--black-color);
}

.accessories .accessories-btn:hover a {
  color: var(--yellow-color);
}

.newsList {
  display: flex;
}

.listItem {
  display: flex;
  flex-direction: row;
}

.listItem .avatar {
  height: 60%;
}

.content {
  justify-content: space-around;
}

.news-image {
  width: 100%;
  height: 40vh;
}

.news-title {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 46px;
}

.news-description {
  padding-top: 1rem;
  font-size: 20px;
  font-weight: 300;
}

.news_content {
  font-size: var(--font-document);
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 67px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-header {
  font-size: 3rem;
}

.news-name {
  font-size: 4rem;
  font-weight: bold;
}

.news {
  margin-left: 4vw;
  margin-right: 2vw;
  flex-direction: column;
}

.newsBtn {
  margin: 1rem 0;
}

.newsSpec .newsBtn:hover {
  background-color: var(--black-color);
}

.newsSpec .newsBtn:hover a {
  color: var(--yellow-color);
}

a {
  color: var(--black-color);
}

.carousel .container {
  text-align: center;
}

.carousel .img-container {
  display: flex;
}

.carousel .container .img1,
.img2 {
  flex-direction: row;
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: 50% 50%;
}

.carousel .container .caption {
  color: var(--white-color);
}

.carousel .container .header {
  font-size: 50px;
  position: absolute;
  top: 0;
  color: var(--white-color);
  margin-top: 50px;
  margin-left: 50px;
}

.carousel .container .caption .title {
  font-size: 4.2rem;
  text-transform: uppercase;
  color: var(--white-color);
}

.carousel .container .caption .attribute {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--white-color);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .carousel .container .caption .title {
    font-size: 3rem;
  }
  .carousel .container .caption .attribute {
    font-size: 1.5rem;
  }
  .news-header {
    font-size: 1.5rem;
  }

  .news-name {
    font-size: 3rem;
  }

  .news {
    margin-left: 4vw;
    margin-right: 2vw;
  }
  .introduce .header {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .introduce .introduce-content {
    font-size: 1.5rem;
  }
  .accessories-header {
    font-size: 3rem;
  }
  .accessories-content {
    font-size: 1.5rem;
  }
  .accessories {
    background-size: contain;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
