.introduce {
  text-align: center;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  margin: 0;
}

.s {
  position: relative;
  display: inline-block;
  width: 157px;
  height: 200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 250px;
  line-height: 200px;
  color: #f3ea01;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.introduce .header {
  color: #f3ea01;
  font-size: 4rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.introduce .introduce-content {
  font-size: 3rem;
  line-height: 60px;
}

.accessories {
  width: 100%;
  height: 90vh;
  background-image: url("../../Images/home_accessories.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-size: cover;
  background-position: center center; */
  flex-direction: column;
}

.accessories-header {
  padding-left: 6vw;
  padding-top: 60px;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.accessories-content {
  padding-left: 6vw;
  font-size: 2.2rem;
  text-transform: uppercase;
  /* font-weight: bold; */
}

.accessories-btn {
  margin-left: 6vw;
  width: 100px;
  opacity: 60%;
}

/* news */

.newsList {
  display: flex;
}

.listItem {
  display: flex;
  flex-direction: row;
}

.listItem .avatar {
  height: 60%;
}

.content {
  /* height: 40vh; */
  justify-content: space-around;
}

.news-image {
  width: 100%;
  height: 40vh;
  /* object-fit: cover;
  object-position: 50% 50%; */
}

.news-title {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 46px;
}

.news-description {
  font-size: 20px;
  font-weight: 300;
}
.news_content {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 67px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-header {
  font-size: 3rem;
}

.news-name {
  font-size: 4rem;
  font-weight: bold;
}

.news {
  margin-left: 4vw;
  margin-right: 2vw;
  flex-direction: column;
}

.newsBtn {
  margin: 1rem 0;
}

/*  */

a {
  color: black;
}

.carousel .container {
  text-align: center;
}

.carousel .img-container {
  display: flex;
}

.carousel .container .img1,
.img2 {
  flex-direction: row;
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: 50% 50%;
}
/* 
.cover {
    position: absolute;
    width: 50%;
    height: 100%;
    color: rgb(0, 0, 0);
}

.container .img1 {
    
} */

.carousel .container .caption {
  color: white;
}

.carousel .container .header {
  font-size: 50px;
  position: absolute;
  top: 0;
  color: white;
  margin-top: 50px;
  margin-left: 50px;
}

.carousel .container .caption .title {
  font-size: 4.2rem;
  text-transform: uppercase;
  color: white;
  /* color: #f3ea01; */
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.carousel .container .caption .attribute {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 200px;
  /* color: #f3ea01; */
  color: white;

  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.carousel .btn {
  color: white;
  opacity: 40%;
}

@media (min-width: 576px) and (max-width: 1200px) {
}
